html {
  background: rgb(63, 82, 99);
}
* {
  box-sizing: border-box;
}


* {
  -webkit-transition: all 1s;
}

/*body {
  -webkit-perspective: 1000px;
}*/

.wrapper {
  margin: auto;
  max-width: 800px;
  border: 2px solid #1f1d1d;

}

.main-nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  font: Helvetica;
  background-color: #2a2828;
  margin:0;
  padding:0;
  justify-items: stretch;
}

.main-nav a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  text-align: center;

}

.advert {
  display: grid;
  background: url(imgs/ScaryMansion.jpeg);
  background-size: cover;
  min-height: 300px;

  grid-template-areas:
    'hayride-logo hayride-logo hayride-logo'
    'advert-spacer advert-spacer advert-spacer'
    'advert-spacer2 scary-fun advert-spacer3';
}

.advert-spacer {
  grid-area: advert-spacer;
}
.advert-spacer2 {
  grid-area: advert-spacer2;
}
.advert-spacer3 {
  grid-area: advert-spacer3;
}


.hayride-logo {
  grid-area: hayride-logo;
  display: grid;
  justify-items: center;
}


.scary-fun {
  grid-area: scary-fun;
  display: grid;
  align-items: end;
  justify-items: center;
}

#scaryfunimg {
  max-width: 50%;
  padding-bottom: .5rem;
}

#content{
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;

}

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}

.text {
  transform: translate(40%, 50%);
}


pre, a {
  color: white;
}



pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}



#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}



.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }



#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

.center-img {

  max-width: 250px;
  margin-left: auto;
  margin-right: auto;

}
